﻿@model IEnumerable<RealEstateGitHub.Models.PropertyModel>
@using RealEstateGitHub.Helpers;

<h2>@ViewBag.Header</h2>

<div class="container">

@foreach (var batch in Model.Batch(3))
{
    <div class="row pb-10">
        @foreach (var property in batch)
        {
            @(Html.Partial("SearchItem", property))

            @*
            <div class="col-md-4">
                <img src="~/Images/@property.ImageURL" style="max-width:100%" />
                <p>@property.Locality</p>
                <p><em>@property.PropertyType</em></p>
                @Html.ActionLink("Details", "PropertyDetail", new { id = property.Reference })
            </div>
            *@
        }
    </div>
}

</div>

@section Footer {
        <div>
            Searching for property.  Search results retreived on @DateTime.Now.ToShortDateString() at @DateTime.Now.ToShortTimeString()
        </div>
    }